@page
@model Rookie.Ecom.MetaShop.Customer.Pages.Auth.RegisterModel
@{
}
<div class="container">
    <h1>Register</h1>
    @Html.ValidationSummary()
    <form asp-page="/Auth/Register" asp-page-handler="register" method="post">

        <div class="registerdiv">
            <div class="form-group col-sm-12">
                <label asp-for="@Model.UserRegistration.FirstName" class="col-lg-3 control-label"></label>
                <br>
                <div class="col-lg-9">
                    @Html.TextBoxFor(m => m.UserRegistration.FirstName, new { placeholder = "First Name", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.UserRegistration.FirstName)
                </div>
            </div>

            <div class="form-group col-sm-12">
                <label asp-for="@Model.UserRegistration.LastName" class="col-lg-3 control-label"></label>
                <br>
                <div class="col-lg-9">
                    @Html.TextBoxFor(m => m.UserRegistration.LastName, new { placeholder = "Last Name", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.UserRegistration.LastName)
                </div>
            </div>


            <div class="form-group col-sm-12">
                <label asp-for="@Model.UserRegistration.Email" class="col-lg-3 control-label"></label>
                <br>
                <div class="col-lg-9">
                    @Html.TextBoxFor(m => m.UserRegistration.Email, new { placeholder = "Email", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.UserRegistration.Email)
                </div>
            </div>

            <div class="form-group col-sm-12">
                <label asp-for="@Model.UserRegistration.PhoneNumber" class="col-lg-3 control-label"></label>
                <br>
                <div class="col-lg-9">
                    @Html.TextBoxFor(m => m.UserRegistration.PhoneNumber, new { placeholder = "Phone Number", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.UserRegistration.PhoneNumber)
                </div>
            </div>


            <div class="form-group col-sm-12">
                <label asp-for="@Model.UserRegistration.Password" class="col-lg-3 control-label"></label>
                <br>
                <div class="col-lg-9">
                    @Html.PasswordFor(m => m.UserRegistration.Password, new { placeholder = "Password", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.UserRegistration.Password)
                </div>
            </div>

            <div class="form-group col-sm-12">
                <label asp-for="@Model.UserRegistration.ConfirmPassword" class="col-lg-3 control-label"></label>
                <br>
                <div class="col-lg-9">
                    @Html.PasswordFor(m => m.UserRegistration.ConfirmPassword, new { placeholder = "Confirm Password", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.UserRegistration.ConfirmPassword)
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12 btn-submit">
                    <button type="submit" class="btn btn-success">Sign Up</button>

                </div>
            </div>
        </div>
    </form>
</div>

