@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var products = Model.Products;
    var LastestProducts = Model.LastestProducts;
    var LastestProductsLength = LastestProducts.Count;
}

<partial name="_Hero" />
<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    @*<div class="sidebar__item">
                        <h4>Department</h4>
                        <ul>
                        <li><a href="#">Fresh Meat</a></li>
                        <li><a href="#">Vegetables</a></li>
                        <li><a href="#">Fruit & Nut Gifts</a></li>
                        <li><a href="#">Fresh Berries</a></li>
                        <li><a href="#">Ocean Foods</a></li>
                        <li><a href="#">Butter & Eggs</a></li>
                        <li><a href="#">Fastfood</a></li>
                        <li><a href="#">Fresh Onion</a></li>
                        <li><a href="#">Papayaya & Crisps</a></li>
                        <li><a href="#">Oatmeal</a></li>
                        </ul>
                        </div>*@
                    <div class="sidebar__item">
                        <h4>Price</h4>
                        <div class="price-range-wrap">
                            <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                                 data-min="10" data-max="540">
                                <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                                <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                            </div>
                            <div class="range-slider">
                                <div class="price-input">
                                    <input type="text" id="minamount">
                                    <input type="text" id="maxamount">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar__item sidebar__item__color--option">
                        <h4>Colors</h4>
                        <div class="sidebar__item__color sidebar__item__color--white">
                            <label for="white">
                                White
                                <input type="radio" id="white">
                            </label>
                        </div>
                        <div class="sidebar__item__color sidebar__item__color--gray">
                            <label for="gray">
                                Gray
                                <input type="radio" id="gray">
                            </label>
                        </div>
                        <div class="sidebar__item__color sidebar__item__color--red">
                            <label for="red">
                                Red
                                <input type="radio" id="red">
                            </label>
                        </div>
                        <div class="sidebar__item__color sidebar__item__color--black">
                            <label for="black">
                                Black
                                <input type="radio" id="black">
                            </label>
                        </div>
                        <div class="sidebar__item__color sidebar__item__color--blue">
                            <label for="blue">
                                Blue
                                <input type="radio" id="blue">
                            </label>
                        </div>
                        <div class="sidebar__item__color sidebar__item__color--green">
                            <label for="green">
                                Green
                                <input type="radio" id="green">
                            </label>
                        </div>
                    </div>
                    <div class="sidebar__item">
                        <h4>Popular Size</h4>
                        <div class="sidebar__item__size">
                            <label for="large">
                                Large
                                <input type="radio" id="large">
                            </label>
                        </div>
                        <div class="sidebar__item__size">
                            <label for="medium">
                                Medium
                                <input type="radio" id="medium">
                            </label>
                        </div>
                        <div class="sidebar__item__size">
                            <label for="small">
                                Small
                                <input type="radio" id="small">
                            </label>
                        </div>
                        <div class="sidebar__item__size">
                            <label for="tiny">
                                Tiny
                                <input type="radio" id="tiny">
                            </label>
                        </div>
                    </div>
                    <div class="sidebar__item">
                        <div class="latest-product__text">
                            <h4>Latest Products</h4>
                            <div class="latest-product__slider owl-carousel">

                                @for (var i = 0; i < LastestProducts.Count; i += 3)
                                {
                                    <div class="latest-prdouct__slider__item">
                                        <a asp-page="/Product/Index" asp-route-id="@LastestProducts[i].Id" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img src="@(LastestProducts[i].ProductPictures.Count > 0 ? LastestProducts[i].ProductPictures[0].PictureUrl: null)" alt="">
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6>@LastestProducts[i].Name</h6>
                                                <span>$@LastestProducts[i].Price</span>
                                            </div>
                                        </a>
                                        @if (i + 1 < LastestProductsLength)
                                        {

                                            <a asp-page="/Product/Index" asp-route-id="@Model.LastestProducts[i+1].Id" class="latest-product__item">
                                                <div class="latest-product__item__pic">
                                                    <img src="@(LastestProducts[i+1].ProductPictures.Count > 0 ? LastestProducts[i+1].ProductPictures[0].PictureUrl : null)" alt="">
                                                </div>
                                                <div class="latest-product__item__text">
                                                    <h6>@LastestProducts[i+1].Name</h6>
                                                    <span>$@LastestProducts[i+1].Price</span>
                                                </div>
                                            </a>
                                        }
                                        @if (i + 2 < LastestProductsLength)
                                        {

                                            <a asp-page="/Product/Index" asp-route-id="@LastestProducts[i+2].Id" class="latest-product__item">
                                                <div class="latest-product__item__pic">
                                                    <img src="@(LastestProducts[i+2].ProductPictures.Count > 0 ? LastestProducts[i+2].ProductPictures[0].PictureUrl : null)" alt="">
                                                </div>
                                                <div class="latest-product__item__text">
                                                    <h6>@LastestProducts[i+2].Name</h6>
                                                    <span>$@LastestProducts[i+2].Price</span>
                                                </div>
                                            </a>
                                        }
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-7">
                <div class="product__discount">
                    <div class="section-title product__discount__title">
                        <h2>Feature Products</h2>
                    </div>
                    <div class="row">
                        <div class="product__discount__slider owl-carousel">
                            @foreach (var item in Model.FeaturedProducts)
                            {
                                <div class="col-lg-4">
                                    <div class="product__discount__item">
                                        <div class="product__discount__item__pic set-bg"
                                         data-setbg="@(item.ProductPictures.Count > 0 ? item.ProductPictures[0].PictureUrl : null)"
                                         style="background-image: url('@(item.ProductPictures.Count > 0 ? item.ProductPictures[0].PictureUrl : null)')">
                                            @*<div class="product__discount__percent">-20%</div>*@
                                            <ul class="product__item__pic__hover">
                                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                                <li><a asp-page="/Product/Index" asp-route-id="@item.Id"><i class="fa fa-shopping-cart"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product__discount__item__text">
                                            <span>@item.Category.Name</span>
                                            <h5><a asp-page="/Product/Index" asp-route-id="@item.Id">@item.Name</a></h5>
                                            <div class="product__item__price">$30.00 @*<span>$36.00</span>*@</div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="filter__item">
                    <div class="row">
                        <div class="col-lg-6 col-md-3">
                            <div class="filter__sort">
                                <span>Sort By</span>
                                <select>
                                    <option value="price">Price</option>
                                    <option value="name">Name</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-3">
                            <div class="filter__found">
                                <h6><span>@Model.Products.TotalItems</span> Products found</h6>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">

                    @foreach (var item in Model.Products.Items)
                    {

                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="@( item.ProductPictures.Count > 0 ? item.ProductPictures[0].PictureUrl : null )"
                                 style="background-image: url('@(item.ProductPictures.Count > 0 ? item.ProductPictures[0].PictureUrl : null)')">
                                    <a asp-page="/Product/Index" asp-route-id="@item.Id" class="product-wrapper-link"><i class="fa-solid fa-eye"></i></a>
                                    <ul class="product__item__pic__hover">
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                        <li><a asp-page="/Product/Index" asp-route-id="@item.Id"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>


                                <div class="product__item__text">
                                    <h6><a href="#">@item.Name</a></h6>
                                    <h5>$@item.Price</h5>
                                </div>
                            </div>
                        </div>

                    }
                </div>
                <div>

                    <ul class="pagination">
                        @if (Model.CurrentPage > 1)
                        {
                            <li class="page-item"><a class="page-link" asp-page="/Home/Index" asp-route-pageIndex="@(Model.CurrentPage - 1)" class="page-link" asp-route-searchString="@Model.CurrentFilter">Previous</a></li>
                        }
                        @for (var i = 1; i <= Model.Products.TotalPages; i++)
                        {
                            @if (i > 10)
                            {

                                @if (i == Model.CurrentPage)
                                {
                                    <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                                        <a asp-page="/Home/Index" asp-route-pageIndex="@i" class="page-link" asp-route-searchString="@Model.CurrentFilter">@i</a>
                                    </li>
                                }
                                <li class="page-item"> ...</li>
                            }
                            else
                            {
                                <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                                    <a asp-page="/Home/Index" asp-route-pageIndex="@i" class="page-link" asp-route-searchString="@Model.CurrentFilter">@i</a>
                                </li>
                            }
                        }
                        @if (Model.CurrentPage < Model.Products.TotalPages)
                        {
                            <li class="page-item"><a class="page-link" asp-page="/Home/Index" asp-route-pageIndex="@(Model.CurrentPage + 1)" class="page-link" asp-route-searchString="@Model.CurrentFilter">Next</a></li>
                        }
                    </ul>

                </div>
            </div>
        </div>
    </div>

</section>
<!-- Product Section End -->

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.4/dist/sweetalert2.all.min.js" integrity="sha256-COxwIctJg+4YcOK90L6sFf84Z18G3tTmqfK98vtnz2Q=" crossorigin="anonymous"></script>
<script>

    const msg = '@TempData["AlertMessage"]';
    if(msg)
    {
        Swal.fire({
          position: 'center',
          icon: 'success',
          title: msg,
          showConfirmButton: false,
          timer: 1500
        })
    }
</script>