@page
@model Rookie.Ecom.MetaShop.Customer.Pages.Product.CartModel
@{
}

<section class="shoping-cart spad">
    <div class="container">
        <form method="post" asp-page="/Product/Cart" asp-page-handler="UpdateCart">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th class="shoping__product">Products</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                @if (Model.Cart != null)
                                {

                                    @foreach (var item in @Model.Cart)
                                    {
                                        <tr>
                                            <td class="shoping__cart__item">
                                                <img src="@item.Product.ProductPictures[0].PictureUrl" alt="" style="height: 100px; object-fit: cover">
                                                <h5>@item.Product.Name</h5>
                                            </td>
                                            <td class="shoping__cart__price">
                                                $@item.Product.Price
                                            </td>
                                            <td class="shoping__cart__quantity">
                                                <div class="quantity">
                                                    <div class="pro-qty">
                                                        <input type="number" value="@item.Quantity" min="1" name="quantities" asp-for="@item.Quantity">
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="shoping__cart__total">
                                                $@(item.Product.Price * item.Quantity)
                                            </td>
                                            <td class="shoping__cart__item__close">
                                                <a asp-page="/Product/Cart" asp-page-handler="delete" asp-route-productid="@item.Product.Id">
                                                    <i class="fa-solid fa-circle-minus" style="color: red; font-size: 1.2rem; cursor: pointer"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }

                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__btns">
                        <a asp-page="/Home/Index" class="primary-btn cart-btn">CONTINUE SHOPPING</a>
                        <button type="submit" class="btn primary-btn cart-btn cart-btn-right">
                            <i class="fa-solid fa-eye-dropper"></i>
                            Upadate Cart
                        </button>
                    </div>
                </div>
                <div class="col-lg-6">
                    @* <div class="shoping__continue">
                        <div class="shoping__discount">
                        <h5>Discount Codes</h5>
                        <form action="#">
                        <input type="text" placeholder="Enter your coupon code">
                        <button type="submit" class="site-btn">APPLY COUPON</button>
                        </form>
                        </div>
                        </div>*@
                </div>
                <div class="col-lg-6">
                    <div class="shoping__checkout">
                        <h5>Cart Total</h5>
                        <ul>
                            @*<li>Subtotal <span>$454.98</span></li>*@
                            <li>Total <span>$@Model.Total</span></li>
                        </ul>


                        @if (Model.Cart != null)
                        {
                            <a asp-page="/Product/Checkout" class="primary-btn">PROCEED TO CHECKOUT</a>
                        }

                    </div>
                </div>
            </div>
        </form>
    </div>
</section>